<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qwwccd.q.home">

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.DetailActivity"/>
        <activity android:name=".page.SearchActivity"/>
    </application>
</manifest>